{% extends 'base.html' %}
{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}

{% block content %}
<div class="form-container">
    <div class="registration-login-form">
        <h3 class="password-reset-title">Reset Password</h3>
        <form class="registration-login-form-fields" method="POST">
            {% csrf_token %}
            {{ form.email.errors }}
            <div class="email-address-textbox">
                <label for="id_email">Email address</label>
                {{ form.email }}
            </div>
            <button class="btn btn-primary btn-block register-login-button">Reset Password</button>
        </form>
        <p>If you know your password go to the <a href="{% url 'login' %}">log in</a> page.</p>
    </div>
</div>
{% endblock %}

